body
{
	margin:0px;
}
#div1
{
	background-color:#066;
	height:100px;
	color:white;
	padding:10px;
}
img{
	position:absolute;
	width:600px;
	height:350px;
	margin:5px;
	border-radius:10px;	
	border:10px solid white;
}
#div2
{
	height:400px;
	width:670px;

	
	float:left;
} 	
#div3
{
	height:350px;
	width:650px;
	background-color:#666;
	float:left;
	border-radius:10px;	
	border:5px solid white;
	margin:5px;
	margin-top:20px;
	color:#FFF;
} 
#div4
{
	height:450px;
	background-color:#066;	
	
	
} 		
#form1
{
	padding:5px;
	background-color:#666;
	

	font-size:22px;
}
#div5
{
	background-color:#903;
	height:100px;
	color:white;
}
#a1
{
	text-decoration:none;
	color:#EEE;
}
#h11
{
	font-family:Verdana, Geneva, sans-serif;
}

